*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text1{
    color: black;

}
.main_header{
    width:100 vm;
    height:100vh;
    display: grid;
    place-items: center;
    background: green;
}